@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

img {
    width: 4rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.body * {
    margin: 0;
}

.header {
    justify-content: space-around;
    display: flex;
    position: sticky;
    background-color: #004E89;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 2.9rem;
    align-content: center;
    z-index: 9999;
    top: 0;
}

.header__link-logo {
    display: flex;
    align-items: center;
}

.header__logo {
    height: 95%;
    display: inline-block;
}

.header__name {
    margin: 0;
}

.header__nav {
    display: flex;
    height: 100%;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.header__list-pages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.header__menu {
    display: flex;
}

.header__link-cart {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}

.header__cart {
    height: 74%;
    width: 2rem;
    display: inline-block;
}

.header__menu-img {
    display: none;
}

header a {
    color: #8ECAE6;
}

header a:hover {
    color: #FFB703;
}

header a:active {
    color: #FB8500;
}



.main {
    background-color: #8ECAE6;
    opacity: 1;
    background-image: radial-gradient(#219EBC 1.25px, transparent 1.25px), radial-gradient(#219EBC 1.25px, #8ECAE6 1.25px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
}

.main__intro {
    display: flex;
    height: 22rem;
}

.main__intro-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F7F6FB;
}

.main__intro-inside {
    width: 27rem;
    margin: 1.5rem 0 0 7.6rem;
}

.main__home-title {
    font-size: 3rem;
    color: #023e8a;
    height: 11rem;
}

.main__description {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7rem;
}

.main__intro-button {
    font-size: 1rem;
    background-color: #FB8500;
    height: 2rem;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.main__intro-button:hover {
    background-color: #f6972a;
}

.main__intro-button:active {
    background-color: #cd6f03;
}

.main_intro-button-a {
    color: #ffffff;
    font-weight: 600;
}

.main__intro-img {
    background-image: url(../img/pescados-y-mariscos-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.main__products {
    display: flex;
    padding: 3rem 4rem;
    height: 20rem;
    justify-content: space-around;
    /* background-image: linear-gradient(#F7F6FB, #ffffff); */
    column-gap: 2rem;
}

.main__products-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 24rem;
    padding: 0 4rem;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    color: #023e8a;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    transition-duration: 0.4s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 24px 0 rgba(0, 0, 0, 0.25);
    row-gap: 1rem;
}

.main__products-frescos {
    background-image: url(../img/bg-fresh-salmon-1.jpg);
    background-repeat: round;
    background-size: contain;
}

.main__products-frescos:hover {
    background-image: url(../img/salmon-hand.jpg);
    outline: #FB8500 3px solid;
    color: #FB8500;
    cursor: pointer;
}

.main__products-congelados {
    background-image: url(../img/frozen-oysters.jpg);
    background-repeat: round;
    background-size: contain;
}

.main__products-congelados:hover {
    background-image: url(../img/bg-frozen-seafood-counter.jpg);
    outline: #FB8500 3px solid;
    color: #FB8500;
    cursor: pointer;
}

.main__products-title {
    width: 16rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.main__products-p {
    width: 16rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.7rem;
}

.main__suscription {
    display: flex;
    height: 20rem;
    padding: 0 0 0 3.4rem;
}

.main__suscription-div-img {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.main__suscription-img {
    width: 60%;
}

.main__suscription-text {
    display: grid;
    grid-template-rows: 1fr 0.4fr 1fr;
    grid-template-columns: 13rem 1fr 1fr;
    padding: 0 2.5rem 0 2.5rem;
    margin-inline: auto;
}

.main__suscription-title {
    align-self: center;
    grid-column: 1 / 4;
    color: #023e8a;
    font-size: 2.3rem;
    width: 85%;
}

.main__suscription-p {
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7rem;
    width: 16rem;

}

.main__suscription-arrow {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main__suscription-arrow-img {
    height: 2rem;
    width: 2rem;
    align-self: center;
}

.main__suscription-form {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    height: 2rem;
    margin: 1rem 0 0 0;
}

.main__form-text {
    width: 20rem;
}

.main__form-text:focus {
    outline: #8ECAE6 2px solid;
    border-radius: 3px;
}

.main__form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    gap: 4px;
    background-color: #FB8500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.main__form-button:hover {
    background-color: #f6972a;
}

.main__form-button:active {
    background-color: #cd6f03;
}

.main__form-button-img {
    width: 1.5rem;
}

.main__form-button-p {
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.7rem;
}

.main-subpage__intro {
    display: flex;
    height: 9rem;
    width: 100%;
    position: relative;
    background-color: #fbba72;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #fbba72 25px), repeating-linear-gradient(#EFEFD055, #f9c784);
    overflow: hidden;
}

.air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: url(../img/wave2.png);
    background-size: 1000px 3rem;
}

.air.air1 {
    animation: wave 25s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 0px;
}

.air.air3 {
    animation: wave 26s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 1px;
}

.air.air4 {
    animation: wave2 8s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 0px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}

.main-subpage__title {
    font-size: 4.5rem;
    font-weight: 700;
    color: #023e8a;
    align-self: center;
    margin: 0 0 0 6rem;
}

.main-products {
    display: flex;
    flex-direction: column;
}

.main-products__info {
    display: flex;
}

.main-products__text {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 50%;
    padding: 0.5rem 3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #EFEFD0;
    row-gap: 1rem;
    border-left: #d9d9d9 solid 1px;
    border-right: #d9d9d9 solid 1px;
}

.main-products__img-title {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.main-products__img {
    width: 2.5rem;
}

.main-products__title {
    font-size: 2rem;
    font-weight: 800;
    color: #023e8a;
}

.main-products__p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.7rem;
}

.main-products__categories {
    display: flex;
    flex-direction: column;
    background-color: #8ECAE6;
    opacity: 1;
    background-image: radial-gradient(#219EBC 1px, transparent 1px), radial-gradient(#219EBC 1px, #8ECAE6 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

.main-products__intro {
    display: flex;
    height: 8rem;
    color: #023e8a;
    font-size: 2.75rem;
    align-items: center;
    border-bottom: #219EBC solid 2px;
    border-top: #219EBC solid 2px;
}

.end {
    flex-direction: row-reverse;
}

.main-products__intro-title {
    margin: 0 6rem;
}

.main-products__slider {
    height: 15rem;
}

.main-recepies {
    background-color: #8ECAE6;
    opacity: 1;
    background-image: radial-gradient(#219EBC 1px, transparent 1px), radial-gradient(#219EBC 1px, #8ECAE6 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

.main-recepies__search {
    display: flex;
    height: 6rem;
    padding: 0.5rem 1.5rem;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    /* border-bottom: #219EBC solid 2px; */
    border-top: #219EBC solid 2px;
}

.main-recepies__search-title {
    font-size: 1.7rem;
    font-weight: 800;
    color: #023e8a;
    width: 66%;
}

.main-recepies__search-form {
    display: flex;
    flex-direction: column;
    width: 34%;
    padding: 0 0 0 1rem;
}

.main-recepies__search-label {
    font-weight: 600;
}

.main-recepies__search-input {
    display: flex;
    height: 2rem;
}

.main-recepies__search-text {
    width: 75%;
    padding: 0 0.5rem;
}

.main-recepies__search-button {
    display: flex;
    width: 25%;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #FB8500;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    padding: 0 3px;
}

.main-recepies__search-button-img {
    width: 1.25rem;
}

.main-recepies__content {
    display: flex;
    flex-direction: column;
}

.main-recepies__latest {
    display: flex;
    flex-direction: column;
}

.main-recepies__title {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: #023e8a;
    height: 6rem;
    padding: 0 0 0 4rem;
    background-color: #8ECAE6;
    border-bottom: #219EBC solid 2px;
    border-top: #219EBC solid 2px;
}

.main-about {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    height: 40rem;
    background-color: #8ECAE6;
    opacity: 1;
    background-image: radial-gradient(#219EBC 1px, transparent 1px), radial-gradient(#219EBC 1px, #8ECAE6 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

.main-about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    gap: 1.5rem;
}

.main-about__div-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-about__img {
    width: 100%;
}

.main-about__text-title {
    font-size: 3rem;
    font-weight: 800;
    color: #023e8a;
}

.main-about__text-p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7rem;
}





.main-contact__form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    row-gap: 2rem;
    background-color: #8ECAE6;
    opacity: 1;
    background-image: radial-gradient(#219EBC 1px, transparent 1px), radial-gradient(#219EBC 1px, #8ECAE6 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}

.main-contact__form {
    font-weight: 600;
}

.main-contact__form-button {
    background-color: #FB8500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

.main-contact__form-button:hover {
    background-color: #f6972a;
}

.main-contact__form-button:active {
    background-color: #cd6f03;
}

.main-contact__h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #023e8a;
    text-align: center;
    margin: 0 3rem;
}

.main-contact__end-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer {
    display: flex;
    flex-direction: column;
}

.footer * {
    margin: 0;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    padding: 1.1rem 0;
    background-color: #EFEFD0;
    height: 12rem;
}

.footer__contact-title {
    color: #023e8a;
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0;
}

.footer__contact-p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.footer__contact-button {
    font-size: 1rem;
    font-weight: 600;
    background-color: #FB8500;
    height: 2rem;
    width: 16rem;
    border: 0px;
    border-radius: 5px;
    align-self: center;
    cursor: pointer;
    margin: 0;
}

.footer__contact-button:hover {
    background-color: #f6972a;
}

.footer__contact-button:active {
    background-color: #cd6f03;
}

.footer__contact-button-a,
.footer__contact-button-a:visited {
    color: #ffffff;
    font-weight: 600;
}

.footer__main {
    display: flex;
    flex-direction: column;
    height: 10rem;
    padding: 1rem 1rem 0.4rem 2rem;
    background-color: #004E89;
}

.footer__main-socials {
    display: flex;
    height: 55%;
    align-items: center;
    gap: 2.5rem;
}

.footer__main-socials-img {
    display: flex;
    column-gap: 4.5rem;
}

.footer__main-legal {
    display: flex;
    height: 45%;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    column-gap: 0.8rem;
    text-align: center;
}

.footer__link {
    color: #8ECAE6;
    text-decoration: underline;
}

.footer__link:hover {
    color: #FFB703;
}

.footer__link:active {
    color: #FB8500;
}

.footer__link-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}



@media screen and (min-width: 1981px) {
    .header {
        height: 3.6rem;
        font-size: 1.5rem;
    }

    .header__cart {
        width: 2.5rem;
    }

    .main-subpage__intro {
        height: 14rem;
    }

    .air {
        height: 3rem;
    }

    .main-subpage__title {
        font-size: 6rem;
    }

    .main-about {
        height: 85rem;
    }

    .main-about__text-title {
        font-size: 5rem;
    }

    .main-about__text-p {
        font-size: 2.5rem;
        line-height: 2.85rem;
    }

    .main-about__img {
        height: 100%;
    }

    .footer__contact {
        height: 17rem;
        row-gap: 0;
        justify-content: space-around;
    }

    .footer__contact-title {
        font-size: 3.83rem;
    }

    .footer__contact-p {
        font-size: 2rem;
    }

    .footer__contact-button {
        font-size: 1.67rem;
        height: 3.33rem;
        width: 26rem;
    }

    .footer__main {
        height: 16rem;
        padding: 1rem 1rem 0.4rem 2rem;
        font-size: 1.67rem;
    }

    .footer__main-socials {
        justify-content: space-between;
        padding: 0 9rem 0 4rem;
    }

    .footer__main-socials-img {
        column-gap: 7.5rem;
    }

    .footer__main-socials-img img {
        width: 6rem;
    }

    .footer__link-logo img {
        width: 4.5rem;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1980px) {
    
    .header {
        height: 3.6rem;
        font-size: 1.5rem;
    }

    .header__cart {
        width: 2.5rem;
    }

    .main-subpage__intro {
        height: 14rem;
    }

    .air {
        height: 3rem;
    }

    .main-subpage__title {
        font-size: 6rem;
    }

    .main-about {
        height: 85rem;
    }

    .main-about__text-title {
        font-size: 5rem;
    }

    .main-about__text-p {
        font-size: 2.5rem;
        line-height: 2.85rem;
    }

    .main-about__img {
        height: 100%;
    }

    .footer__contact {
        height: 17rem;
        row-gap: 0;
        justify-content: space-around;
    }

    .footer__contact-title {
        font-size: 3.83rem;
    }

    .footer__contact-p {
        font-size: 2rem;
    }

    .footer__contact-button {
        font-size: 1.67rem;
        height: 3.33rem;
        width: 26rem;
    }

    .footer__main {
        height: 16rem;
        padding: 1rem 1rem 0.4rem 2rem;
        font-size: 1.67rem;
    }

    .footer__main-socials {
        justify-content: space-between;
        padding: 0 9rem 0 4rem;
    }

    .footer__main-socials-img {
        column-gap: 7.5rem;
    }

    .footer__main-socials-img img {
        width: 6rem;
    }

    .footer__link-logo img {
        width: 4.5rem;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .main-about {
        height: 50rem;
    }

    .main-about__img {
        height: 100%;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .main-about {
        height: 55rem;
    }

    .main-about__text {
        padding: 1.8rem 2.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-about {
        height: 45rem;
    }

    .main-about__text {
        padding: 2rem;
    }

    .main-about__text-title {
        font-size: 2.5rem;
    }

    .main-about__text-p {
        font-size: 1.2rem;
    }

    .footer__main {
        padding: 1rem 1rem 0.4rem 1.5rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .header {
        justify-content: space-between;
        padding: 0 1rem;
    }

    .header__nav {
        display: none;
    }

    .header__menu {
        width: 7rem;
        justify-content: space-between;
    }

    .header__link-cart {
        margin: 0;
    }

    .header__menu-img {
        display: inline-block;
        width: 2.5rem;
    }

    .main-subpage__title {
        margin: auto;
        text-align: center;
        font-size: 3rem;
    }
    
    .main-about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 83rem;
        padding: 1rem 0;
    }

    #div-img2 {
        order: 4;
    }

    .main-about__text {
        padding: 1.9rem;
        text-align: center;
    }

    .main-about__text-title {
        font-size: 2.5rem;
    }

    .main-about__text-p {
        font-size: 1rem;
    }

    .main-about__img {
        width: 85%;
    }

    .main-contact__h3 {
        font-size: 1.8rem;
        margin: 0 1.5rem;
    }

    .main-contact__form-inputs {
        display: flex;
        flex-direction: column;
    }

    .footer__contact {
        row-gap: 1rem;
        padding: 1.1rem 0.8rem;
        background-color: #EFEFD0;
        height: 12rem;
    }

    .footer__contact-title {
        font-size: 2rem;
    }

    .footer__contact-p {
        font-size: 1rem;
    }

    .footer__main {
        height: 20rem;
        padding: 1rem 1rem 1rem 1.5rem;
        row-gap: 0.5rem;
    }

    .footer__main-socials {
        display: flex;
        flex-direction: column;
        height: 45%;
        align-items: center;
        gap: 0;
        justify-content: space-around;
        padding-left: 0rem;
    }

    .footer__main-socials-img {
        column-gap: 2.5rem;
        padding: 0;
    }

    .footer__main-socials-img img {
        width: 2.5rem;
    }

    .footer__main-legal {
        flex-direction: column;
        height: 55%;
        align-items: center;
        justify-content: space-around;
        color: #ffffff;
        row-gap: 1rem;
        font-size: 0.9rem;
        padding: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .header {
        justify-content: space-between;
        padding: 0 0.4rem;
    }

    .header__logo {
        width: 35%;
    }

    .header__link-logo {
        font-size: 0.8rem;
    }

    .header__nav {
        display: none;
    }

    .header__menu {
        width: 7rem;
        justify-content: space-between;
    }

    .header__link-cart {
        margin: 0;
    }

    .header__menu-img {
        display: inline-block;
        width: 2.5rem;
    }

    .main-subpage__title {
        margin: auto;
        text-align: center;
        font-size: 2.5rem;
    }
    
    .main-about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 66rem;
        padding: 0.7rem 0;
    }

    #div-img2 {
        order: 4;
    }

    .main-about__text {
        padding: 1rem;
        text-align: center;
    }

    .main-about__text-title {
        font-size: 2rem;
    }

    .main-about__text-p {
        font-size: 1rem;
    }

    .main-about__img {
        width: 100%;
    }

    .main-contact__h3 {
        font-size: 1.4rem;
        margin: 0 1rem;
    }

    .main-contact__form-inputs {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
    }

    .main-contact__form-area {
        padding: 1rem 0;
        row-gap: 1rem;
    }

    .footer__contact {
        row-gap: 1rem;
        padding: 1.1rem 0.8rem;
        background-color: #EFEFD0;
        height: 14rem;
    }

    .footer__contact-title {
        font-size: 2rem;
    }

    .footer__contact-p {
        font-size: 1rem;
    }

    .footer__main {
        height: 20rem;
        padding: 1rem 0.2rem;
        row-gap: 1rem;
    }

    .footer__main-socials {
        display: flex;
        flex-direction: column;
        height: 45%;
        align-items: center;
        gap: 0;
        justify-content: space-around;
        padding-left: 0rem;
    }

    .footer__main-socials-img {
        column-gap: 2rem;
        padding: 0;
    }

    .footer__main-socials-img img {
        width: 2.5rem;
    }

    .footer__main-legal {
        flex-direction: column;
        height: 55%;
        align-items: center;
        justify-content: space-around;
        color: #ffffff;
        row-gap: 1rem;
        font-size: 0.9rem;
        padding: 0;
    }
}

@media screen and (max-width: 319px) {
    .header {
        justify-content: space-between;
        padding: 0 0.2rem;
    }

    .header__logo {
        width: 35%;
    }

    .header__link-logo {
        font-size: 0.8rem;
    }

    .header__nav {
        display: none;
    }

    .header__menu {
        width: 7rem;
        justify-content: space-between;
    }

    .header__link-cart {
        margin: 0;
    }

    .header__menu-img {
        display: inline-block;
        width: 2.5rem;
    }

    .main-subpage__title {
        margin: auto;
        text-align: center;
        font-size: 2.5rem;
    }
    
    .main-about {
        display: flex;
        flex-direction: column;
        height: 65.8rem;
    }

    #div-img2 {
        order: 4;
    }

    .main-about__text {
        padding: 1.5rem;
        text-align: center;
    }

    .main-about__text-title {
        font-size: 2rem;
    }

    .main-about__text-p {
        font-size: 1rem;
    }

    .main-about__img {
        width: 100%;
    }

    .main-contact__h3 {
        font-size: 1.4rem;
        margin: 0 1rem;
    }

    .main-contact__form-inputs {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
    }

    .main-contact__form-area {
        padding: 1rem 0;
        row-gap: 1rem;
    }

    .footer__contact {
        row-gap: 1rem;
        padding: 1.1rem 0.8rem;
        background-color: #EFEFD0;
        height: 14rem;
    }

    .footer__contact-title {
        font-size: 2rem;
    }

    .footer__contact-p {
        font-size: 1rem;
    }

    .footer__main {
        height: 20rem;
        padding: 1rem 0.2rem;
        row-gap: 1rem;
    }

    .footer__main-socials {
        display: flex;
        flex-direction: column;
        height: 45%;
        align-items: center;
        gap: 0;
        justify-content: space-around;
        padding-left: 0rem;
    }

    .footer__main-socials-img {
        column-gap: 2rem;
        padding: 0;
    }

    .footer__main-socials-img img {
        width: 2.5rem;
    }

    .footer__main-legal {
        flex-direction: column;
        height: 55%;
        align-items: center;
        justify-content: space-around;
        color: #ffffff;
        row-gap: 1rem;
        font-size: 0.9rem;
        padding: 0;
    }
}