.main-about {
    background-image: url(../img/wallpaper-marine-life-01.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .main-about__body {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        height: auto;
        background: linear-gradient(to bottom, #1A659E, rgba(26, 101, 158, .5), rgba(249, 199, 135, .8));
        backdrop-filter: blur(3px);

        .main-about__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4rem;
            gap: 1.5rem;

            .main-about__text-title {
                font-size: 3rem;
                font-weight: 800;
                color: $color-title;
            }

            .first-title {
                color: rgb(249, 199, 135);
            }

            .main-about__text-p {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.7rem;
            }
        }

        .main-about__div-img {
            display: flex;
            justify-content: center;
            align-items: center;

            .main-about__img {
                width: 100%;
                height: 100%;
            }
        }
    }
}