* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

img {
    width: 4rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.body * {
    margin: 0;
}