.main-subpage__intro {
    display: flex;
    height: 8.5rem;
    width: 100%;
    position: relative;
    background-color: #f9c784;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #fbba72 25px), repeating-linear-gradient(#EFEFD055, #f9c784);
    overflow: hidden;
}

.air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: url(../img/wave2.png);
    background-size: 1000px 3rem;
}

.air.air1 {
    animation: wave 25s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 0px;
}

.air.air3 {
    animation: wave 26s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 1px;
}

.air.air4 {
    animation: wave2 8s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 0px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}

.main-subpage__title {
    font-size: 4.5rem;
    font-weight: 700;
    color: $color-title;
    align-self: center;
    margin: 0 0 0 6rem;
}